/*Formular de contact - responsive*/
input[type=text],input[type=email],input[type=password], textarea {
  width: 65%;
  padding: 12px;
  border: 1px solid black;
  resize: vertical;
  float:left;
}

label {
  padding: 10px 20px 10px 0px;
  display: inline-block;
  float:right;
}

input[type=submit], input[type=reset] {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 12px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover, input[type=reset]:hover{
  background-color: rgba(0,0,0,0.5);
}

.contact{
  width:98,5%;
  background-color: rgba(10,0,0,0.3);
  text-align:center;
  overflow:auto;
}
#subiect{
	height:100px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.rowc:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit], input[type=reset] {
    width: 100%;
    margin-top: 0;
  }
}